/*
=================================================
This file is for body elements of the main page
like user reviews and title of the page
=================================================
*/

.section-header{
    margin: var(--mediumGap) 0;
}

/*
-------------------------------------------------
HEADER IMAGE AND TEXT
-------------------------------------------------
*/
.header{
    position: relative;
    margin: var(--mediumGap);
    height: 500px;
    overflow: hidden;
    border-radius: 30px;
}

.header img {
    height: auto;
    width: 100%;
}

.header-text{
    /*position*/
    position: absolute;
    inset: 0;
    /*color*/
    background-color: rgba(0,0,0,0.7);
    color: var(--onSurfaceDark);
    /*content*/
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-text h1{
    font-size: 70px;
}

/*
-------------------------------------------------
REVIEW SECTION OF THE PAGE
this part styles the imaginary user reviews
-------------------------------------------------
*/
.review-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: var(--mediumGap);
    margin-top: var(--mediumGap);
}

.review{
    /*box*/
    border-radius: var(--mediumRadius);
    padding: var(--mediumGap);
    /*color*/
    background-color: var(--surfaceDim);
}

.review-header{
    /*box*/
    margin-bottom: var(--smallGap);
    /*font*/
    font-weight: bold;
    /*elements inside*/
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: var(--smallGap);
}

.review-header img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}