.header{
    position: relative;
    margin: var(--mediumGap);
    height: 500px;
    overflow: hidden;
    border-radius: 30px;
}

.header img {
    height: auto;
    width: 100%;
}

.header-text{
    /*position*/
    position: absolute;
    inset: 0;
    /*color*/
    background-color: rgba(0,0,0,0.7);
    color: var(--onSurfaceDark);
    /*content*/
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-text h1{
    font-size: 70px;
}