/* -------------------------------------------------
   Navigation Section
------------------------------------------------- */
.navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--surfaceDim);
    align-items: center;
}

.nav-left,
.nav-right {
    display: flex;
    justify-content: right;
    gap: var(--smallGap);
    padding: var(--tinyGap) var(--smallGap);
}

.nav-left h2 {
    margin-left: var(--bigGap);
}

.nav-right i {
    cursor: pointer;
    padding: var(--smallGap);
    transition: color 0.3s;
}

/* -------------------------------------------------
   Task Section
------------------------------------------------- */
.task-overview {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid var(--surfaceDim);
    padding: var(--tinyGap) var(--mediumGap);
}

.task-search-panel,
.task-management-panel {
    display: flex;
    gap: var(--mediumGap);
    padding: var(--smallGap) var(--mediumGap);
    align-items: center;
    margin-top: var(--smallGap);
}

.input-container,
.input-modal {
    display: flex;
    flex-direction: column;
    gap: var(--smallGap);
    width: 200px;
}

.input-container-btn {
    display: flex;
    align-items: end;
    justify-content: center;
}

.input-container label {
    font-weight: bold;
}

/* -------------------------------------------------
   Kanban-Board
------------------------------------------------- */
.kanban-board {
    display: flex;
    gap: var(--mediumGap);
    margin: var(--mediumGap);
    justify-content: center;
}

.kanban-class {
    flex: 1;
    padding: var(--smallGap);
    border-radius: var(--smallRadius);
}

.kanban-class h3 {
    text-align: left;
    margin: 5px;
}

.kanban-class-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--tinyGap);
    border-top: 5px solid var(--surfaceDim);
}

#open { background-color: rgb(40, 167, 69, 40%); }
#development { background-color: rgb(119, 221, 119, 40%); }
#in-test { background-color: rgb(244, 197, 66, 40%); }
#closed { background-color: rgb(65, 116, 212, 40%); }
#aborted { background-color: hsla(271, 76%, 53%, 40%); }

/* -------------------------------------------------
   Task-styles
------------------------------------------------- */
.urgent { color: rgba(231, 19, 40, 60%); }
.high { color: rgb(255, 87, 34, 60%); }
.medium { color: rgb(255, 193, 7, 60%); }
.low { color: rgb(40, 167, 69, 60%); }
.none { color: rgb(108, 117, 125, 60%); }

.task {
    background-color: var(--surfaceBright);
    border-radius: var(--mediumGap);
    padding: var(--mediumGap);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    cursor: grab;
    transition: box-shadow 0.3s ease-in-out;
}

.task:active {
    cursor: grabbing;
}

.task-header {
    display: flex;
    justify-content: right;
    align-items: center;
}

.task-options {
    cursor: pointer;
}

.task-body {
    margin-top: var(--smallGap);
}

.task-name {
    font-weight: bold;
    margin-bottom: var(--tinyGap);
}

.task-description {
    font-size: 12px;
    line-height: 1.4;
}

.task-meta {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: var(--smallGap);
    padding-top: var(--smallGap);
    font-size: 12px;
    border-top: 1px solid #ddd;
}

.task-meta span {
    display: flex;
    align-items: center;
    gap: var(--tinyGap);
    background-color: #f5f5f5;
    padding: var(--tinyGap);
    border-radius: 5px;
}

.task.is-dragging {
    opacity: 0.5;
    transform: scale(1.05);
    transition: opacity 0.2s ease-in-out;
}

/* ------------------------------------------------
   Dialog(Modal)
------------------------------------------------- */
.task-dialog,
.task-detail-modal{
    border: none;
    border-radius: var(--mediumRadius);
    display: flex;
    justify-content: left;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    padding: var(--mediumGap);
}

.task-dialog[open], 
.task-detail-modal[open] {
    visibility: visible;
    opacity: 1;
}

dialog::backdrop {
    opacity: 60%;
    background-color: var(--surfaceDim);
}

.taskmodal-title ,
.task-details h2{
    width: 100%;
    padding: var(--smallGap);
}

.taskmodal-container,
.task-details {
    display: flex;
    flex-direction: column;
    padding: var(--mediumGap);
    gap: var(--smallGap);
}

.taskmodal-btn,
.task-detail-btn{
    display: flex;
    flex-direction: row;
    gap: var(--smallGap);
}
    

.input-modal {
    display: flex;
    gap: var(--smallGap);
    padding: var(--smallGap);
}



/* -------------------------------------------------
    Buttons
------------------------------------------------- */
#btn-search { background-color: var(--tertiaryContainer); color: var(--onTertiaryContainer); }
#btn-filter { background-color: var(--primaryContainer); color: var(--onPrimaryContainer); }
#btn-add-task,
#btn-close { background-color: var(--secondaryContainer); color: var(--onSecondaryContainer); }
#btn-sort { background-color: var(--primaryContainer); color: var(--onPrimaryContainer); }
#btn-print,
#btn-add { background-color: var(--tertiaryContainer); color: var(--onTertiaryContainer); }

.task-search-panel button:hover,
.task-management-panel button:hover {
    opacity: 0.8;
}

.task-search-panel button:active,
.task-management-panel button:active {
    opacity: 0.5;
}

.task-search-panel button,
.task-management-panel button,
.taskmodal-btn button,
.task-detail-modal button {
    margin-top: var(--mediumGap);
    padding: var(--smallGap);
    border: none;
    border-radius: var(--mediumGap);
    cursor: pointer;
    width: 100px;
    display: flex;
    align-items: end;
    justify-content: center;
}

/* -------------------------------------------------
   Input and Select
------------------------------------------------- */
.input-container input,
.input-container select,
.taskmodal-container input,
.taskmodal-container select,
.taskmodal-container textarea,
.task-detail-modal input,
.task-detail-modal textarea,
.task-detail-modal select {
    padding: var(--smallGap);
    border: 1px solid var(--surfaceDim);
    border-radius: var(--smallRadius);
    background: white;
}

.taskmodal-container input,
.taskmodal-container select,
.taskmodal-container textarea,
.task-detail-modal input,
.task-detail-modal textarea,
.task-detail-modal select{
    width: 400px;
}

.task-search-panel select,
.taskmodal-container select {
    cursor: pointer;
}



/*
-------------------------------------------------
TASK DETAILS MODAL
-------------------------------------------------
*/





@media (max-width: 768px) {
    .task-overview {
        margin-top: 0 ;
        flex-direction: column;
        gap: var(--smallGap);
    }

     .task-search-panel{
        flex-direction: column;
        align-items: flex-start;
        gap: var(--smallGap);
    } 

    .kanban-board {
        flex-direction: column;
        gap: var(--smallGap);
    }

    .kanban-class {
        margin-bottom: var(--smallGap);
    }

    .task {
        width: 100%; 
        margin-bottom: var(--smallGap);
    }

}