/*
=================================================
This file stores navigation bar styling
=================================================
*/

.navbar{
    position: sticky;
    top: 0;
    z-index: 100;
    /*box*/
    padding: var(--tinyGap) var(--mediumGap);
    height: 40px;
    /*colors*/
    background-color: var(--surface);
    color: var(--onSurface);
   /*content position*/
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.navbar div a{
    text-decoration: none;
    color: var(--onSurface);
}

/*
-------------------------------------------------
HAMBURGER MENU
-------------------------------------------------
*/
#hamburger{
    padding: var(--smallGap);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border-style: none;
    background-color: var(--surface);
    color: var(--onSurface);
    transition: all 0.3s;
    
}

#hamburger:hover{
    background-color: var(--surfaceDim);
}

#hamburger:active{
    background-color: var(--surfaceBright);
}



.navbar-user {
    display: flex;
    align-items: center;
    justify-content: flex-end;  /* Aligns to the right */
    gap: 10px;  /* Adds space between the username and logout button */
}

.username {
    font-size: 14px;  /* Adjust font size to match the button */
    color: white;  /* Adjust the text color to white to contrast with the background */
    background-color: #4281A4;  /* Button-like background color */
    padding: 8px 16px;  /* Padding to match the button design */
    border-radius: 25px;  /* Rounded corners to match button */
    text-align: center;  /* Center align the text */
}

.dark-button:hover {
    background-color: #555;  /* Adjust hover effect */
}

