/*
=================================================
This file stores navigation bar styling
=================================================
*/

.navbar{
    position: sticky;
    top: 0;
    z-index: 100;
    /*box*/
    padding: var(--tinyGap) var(--mediumGap);
    height: 40px;
    /*colors*/
    background-color: var(--surface);
    color: var(--onSurface);
   /*content position*/
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

/*
-------------------------------------------------
HAMBURGER MENU
-------------------------------------------------
*/
#hamburger{
    padding: var(--smallGap);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border-style: none;
    background-color: var(--surface);
    color: var(--onSurface);
    
}

#hamburger:hover{
    background-color: var(--surfaceDim);
}

#hamburger:active{
    background-color: var(--surfaceBright);
}

/*
-------------------------------------------------
DARK COLORED BUTTON
-------------------------------------------------
*/
.dark-navbar-button{
    /*the box*/
    padding: var(--smallGap);
    height: 40px;
    border-radius: var(--mediumRadius);
    border-style: none;
    /*color*/
    background-color: var(--surfaceDark);
    color: var(--onSurfaceDark);
    /*transitions*/
    transition: all 0.3s;
    /*font*/
    font-weight: bold;
}

.dark-navbar-button:hover{
    background-color: var(--surfaceDarkDim);
}

.dark-navbar-button:active{
    background-color: var(--surfaceDarkBright);
}