/*
=================================================
Here sidebar styling is sotred in order to be
easily reused in most files
=================================================
*/


/**separator between hamburger and the rest*/
.sep{
    border-style: solid;
    border-width: 1px;
}

/**
-------------------------------------------------
SIDEBAR CLASS
This styles the sidebar on the left
-------------------------------------------------
*/
.sidebar{
    /*alignment within the page is foxed*/
    z-index: 100;
    position: fixed;
    top: 60px;
    left: -160px ;
    bottom: var(--smallGap);
    /*color and font*/
    background-color:var(--surfaceDark);
    color: var(--onSurfaceDark);
    font-size: medium;
    /*the box setting*/
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    row-gap: var(--smallGap);
    padding: var(--mediumGap);
    border-radius: 30px;
    overflow: hidden;
    /*min values*/
    min-height: 0;
    min-width: 0;
    /*transitions*/
    transition: all 0.5s ease-in-out;
}

.sidebar-hidden{
    left: var(--mediumGap);
}

/**
-------------------------------------------------
SIDEBAR TEXT LABELS
-------------------------------------------------
*/
.sidebar-label{
    display: inline-block;
    transition: all 0.3s;
    padding-left: 20px;
}